body{
    background-color:tan;
    overflow-x:hidden;
}

h1, h2{
    text-align:center;
    line-height:1;
}

h2{
    text-align:center;
    margin-left:0.9rem;
}

#img-caption{
    text-align:justify;
    font-size:1.19rem;
}

#img-div #image{
    max-width:100%;
    width:100%;
    height:auto;
    display:block;
}

img{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:15px;
}

ul{
   line-height:1.5;
   text-align:justify;
   padding:2rem;
   padding-top:0;
   padding-bottom:0;
   font-size:1.3rem;
}

.left-aligned{
    text-align:center;
    margin-left:0rem;
}

.font-size{
    font-size:20px;
}

.year{
    font-size:1.56rem;
}

.margin{
    margin:0;
}

.font-size-list{
    font-size:1.12rem;
    text-align:justify;
}

.timeline{
    margin-right:55%;
    font-size:2.4rem;
}

@media (min-width:320px){
.timeline{
    margin-right:65%;
    font-size:2.5rem;
}

.facts{
    margin-right:7%;
    font-size:30px;
  }
    }

@media (min-width:412px){
.timeline {
    margin-right:67%;
    font-size:2.5rem;
}

.facts{
  margin-right:5%;
  font-size:1.7rem;
  text-align:center;
}
}
@media (min-width:540px){

#img-div, #image{
   width:70%;
   margin-right:auto;
   margin-left:auto;
    }

.timeline{
    margin-right:85%;
 }

#img-caption{
    font-size:1.9rem;
}

.facts{
    font-size:2.2rem;
}

.font-size{
    font-size: 1.5rem;
}
 }

@media (min-width:768px){
    
h1{
    font-size:4rem;
 }

#img-div #image{
  width:75%;
}

#img-caption{
    margin-right:14%;
    margin-left:14%;
}

.timeline{
    margin-right:90%;
    font-size:3rem;
}

.font-size{
    font-size:2rem;
}

.year{
    font-size:2.5rem;
}

.facts{
    font-size:3.4rem;
}

.source{
    font-size:1.9rem;
}
 }

@media (min-width:1024px){
h1{
    font-size:5rem;
}

.timeline{
font-size:4.5rem;
}

.font-size{
    font-size:2.6rem;
}   

.year{
    font-size:3.9rem;
}

#img-div #image{
    width:70%;
}

.facts{
    font-size:4.5rem;
}

.source,.link{
    font-size:2.6rem;
}
 }

@media (min-width:1201px){

}

